.full {
	width: 100%;
}

.content {
	width: calc(70% - 30px);
	margin:15px;
	@media (max-width:768px) {
		width: calc(100% - 30px);
		order:1;
	}
	h1, h2, h3 {
		margin-bottom:10px;
	}
}

.sidebar {
	width: calc(30% - 30px);
	margin:15px;
	@media (max-width:768px) {
		width: calc(100% - 30px);
	}
	ul {
		margin: 0;
		padding: 0;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		.widget_heateor_sss_sharing h3 {
			margin-bottom:15px;
		}
		&.heateor_sss_sharing_ul {
			display:block;
			li {
				width:auto;
				.heateorSssSharing {
					transition:0.3s background-color;
				}
			}
		}
		li {
			list-style: none;
			padding:0;
			width:100%;
			@media (max-width:768px) {
				&.widget_archive {
					order:-1;
					select {
						margin-top:0;
					}
				}
				&.widget_search {
					order:-2;
				}
			}
			@media (min-width:481px) and (max-width:768px) {
				width: calc(50% - 15px);
				&.widget_search {
					width: 100%;
				}
			}
			@media (max-width:480px) {
				width:100%;
				&.widget_archive, &.widget_search {
					width:100%;
				}
			}
			& li {
				padding:10px 0;
				border-bottom:1px solid $medium-light-color;
				width:100%;
			}
		}
	}
	h3 {
		margin-top:35px;
		margin-bottom:5px;
		@media (max-width:768px) {
			margin-top:25px;
		}
	}
}

#searchform {
	position:relative;
	input {
		border:1px solid $medium-light-color;
		padding:10px 40px 10px 15px;
		outline:none;
		width:calc(100% - 55px);
	}
	button {
		background-color:transparent;
		border:none;
		outline:none;
		color:#999;
		position:absolute;
		padding:9px 13px;
		top:0;
		right:0;
	}
}

.blog-filter-title {
	text-transform:uppercase;
}

article {
	border-bottom:1px solid $medium-light-color;
	margin-bottom:30px;
}

.entry-meta {
	margin-bottom:20px;
	a {
		color:$accent-color;
		&:hover, &:active, &:focus {
			color:$accent-color-hover;
		}
	}
}

.entry-content {
	a {
		color:$accent-color;
		&:hover, &:active, &:focus {
			color:$accent-color-hover;
		}
	}
}

.read-more, .nav-previous a, .nav-next a {
	display:block;
	color:$accent-color;
	letter-spacing:1px;
	margin-top:15px;
	margin-bottom:30px;
	font-weight:400;
	&:hover {
		color:$accent-color-hover;
	}
}

.entry-utility {
	margin:30px 0;
	a {
		color:$accent-color;
		&:hover {
			color:$accent-color-hover;
		}
	}
}

.navigation {
	margin-bottom:30px;
	.nav-previous, .nav-next {
		width:50%;
		margin:0;
		a {
			color:$accent-color;
			letter-spacing:1px;
			margin-top:0;
			margin-bottom:0;
			&:hover {
				color:$accent-color-hover;
			}
		}
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
		text-align:right;
	}
}

#respond {
	width:100%;
	input:not([type="submit"]), textarea {
		border:1px solid $medium-light-color;
	}
	input[type="submit"] {
		margin-top:25px;
	}
}