footer {
	background-color: $header-footer-color;
	.container {
		align-items: center;
		padding: 15px 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 650px) {
			flex-direction: column;
			text-align: center;
		}
		p {
			margin-bottom: 0;
			color: $medium-color;
			display: inline;
		}
		a {
			color: white;
			&:hover, &:active, &:focus {
				color: $medium-color;
			}
		}
	}
}

.footer-links {
	list-style: none;
  display: inherit;
	margin: 0;

	@media (max-width: 650px) {
		margin-top: 15px;
	}

	.footer-link {
		margin-left: 10px;

		&:first-of-type {
			margin-left: 0;
		}

		a {
			color: $medium-color;
			border: 2px solid $medium-color;
			width: 40px;
			height: 40px;
			transition: 0.3s background-color, 0.3s border;
			display: inline-block;
			padding: 6px;
			border-radius: 50%;
			font-size: 18px;
			text-align: center;
			@media (max-width: 650px) {
				margin: 5px;
			}
			&:hover, &:active, &:focus {
				background-color: white;
				border: 2px solid white;
				color: #262f3c;
			}
		}
	}
}
